button {
    background-color: rgb(234, 186, 77);
    color: black;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    border-radius: 5px;
    font-weight: bold;

    &.primary {
        background-color: #d4af37;
        color: black;
        border: 1px solid #d4af37;
    }
    &.secondary {
        background-color: #d3d3d3;
        color: black;
        border: 1px solid #bcbcbc;
    }

    &:hover {
        background-color: #9c7c38;
        color: white;
        border-color: #e6cd98;
    }

    &.selected {
        background-color: #9c7c38;
        color: white;
        border: 1px solid #9c7c38;
    }
    
    &.disabled {
        background-color: #d3d3d3;
        color: #a9a9a9;
        cursor: not-allowed;
    }
}
