@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

html {
  height: 100%;
  margin: 0;
  padding: 0;

  body {
    font-family: "Playfair Display";
    max-width: 100vw;
    margin: 0;
    padding: 0;

    #root {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      width: 100%;

      main {
        flex: 1;
        max-width: 100vw;
        width: 100%;

        h1 {
          font-size: 5rem;
          font-weight: 400;
          margin: 0;
          text-align: center;
        }

        .home_para {
          text-align: center;
          line-height: 2rem;
          padding: 0 6rem;
        }

        section {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          margin: 2em;

          article {
            padding: 0rem 2rem;
            border: 1px solid #d4af37;
            border-top: none;
            border-bottom: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: calc(100%);
            height: 100%;

            &:last-of-type {
              border: none;
            }

            &:first-of-type {
              border: none;
            }
            i {
              font-size: 2rem;
              color: #d4af37;
            }
            a {
              text-decoration: none;
              color: #d4af37;
              font-size: 1.5rem;
              font-weight: 600;
              padding: 1rem;
              border: 1px solid #d4af37;
              border-radius: 5px;
              transition: all 0.3s ease;

              &:hover {
                background-color: #d4af37;
                color: white;
              }
            }
          }
        }

        img {
          width: 100%;
          height: 770px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  main {
    overflow: hidden;
    h1 {
      font-size: 3rem;
    }
    .home_para {
      padding: 0 2rem !important;
    }
    section {
      padding: 1rem;
      flex-direction: column;
      gap: 0;
      padding: 0%;
      margin: 0% !important;
      width: 100%;
      position: relative;

      article,
      article:nth-of-type(2) {
        border: none;

        p {
          padding: 0rem;
        }

        &:first-child {
          margin-top: 6rem;
        }

        &:nth-child(2) {
          a {
            position: absolute;
            top: 10px;
            padding: 1rem 2rem;
          }
        }
      }
    }
    img {
      height: auto !important;
    }
  }
}
