nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 2px solid #d4af37;

  h3 {
    font-size: 22px;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      list-style-type: none;
      text-transform: uppercase;

      a {
        text-decoration: none;
        color: #000;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        float: left;
        display: block;
        text-align: center;

        &:hover {
          background-color: #d4af37;
          color: #fff;
        }

        &.active {
          border-bottom: 2px solid #d4af37;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 1rem;
    flex-direction: column;

    .nav_container {
      padding-left: 0px !important;
      flex-wrap: wrap;
    }

    h3 {
      font-size: 1.5rem;
    }
  }
}
