$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;

@media screen and (max-width: $breakpoint-small) {
  // Styles for small screens

  main{
    h1{
        margin-top: 1rem;
        text-align: center;
        font-size: 3em;
    }
  }
}

.bookings{
    gap: 2rem;
    padding: 0 2rem;
        div{
            width: 100%;
            button{
                align-self: flex-start;
            }
        }
}



@media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
  // Styles for medium screens
  main{
    h1{
        margin-top: 1rem;
        text-align: center;
        font-size: 3em;
    }
  }

  .bookings {
    div{
        width: auto;
    }
  }
    
}

@media screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
  // Styles for large screens
   main{
    h1{
        margin-top: 1rem;
        text-align: center;
        font-size: 3em;
    }
  }

  .bookings {
    div{
        width: auto;
    }
  }
  
}

@media screen and (min-width: $breakpoint-large) {
  // Styles for extra-large screens
   main{
    h1{
        margin-top: 1rem;
        text-align: center;
        font-size: 3em;
    }
  }

  .bookings {
    div{
        width: auto;
    }
  }
}