button {
    background-color: #bca55b;
    color: black;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    border-radius: 5px;
    font-weight: bold;
    &:hover {
        background-color: #d4b061;
        color: white;
    }
    &.selected {
        background-color: #9c7c38;
        color: white;
    }
    &.disabled {
        background-color: #d3d3d3;
        color: #a9a9a9;
        cursor: not-allowed;
    }
}
