.contactIMG {
    width: 35%;
}

h2 {
    text-align: center;
    margin-top: 100px;
}


.section-left {
    margin: 3rem;
    flex-direction: row-reverse;
    text-align: left;
    align-items: flex-start; 
    h3{
        align-self: auto;
        margin-bottom: 10px;
    }
}

.section-right{
    margin: 3rem;
    flex-direction: row;
    text-align: left;
    align-items: flex-start; 
    h3{
        align-self: auto;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 600px) { 
.contactIMG {
    width: 80%;
}
}