@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Playfair Display';
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 6rem;
    font-weight: 400;
    margin: 0;
    margin-top: 4rem;
  }

  p {
    max-width: 900px;
    line-height: 2rem;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0;

    div {
      padding: 2rem;
      border: 1px solid #d4af37;
      border-top: none;
      border-bottom: none;

      &:last-of-type {
        border: none;
      }

      &:first-of-type {
        border: none;
      }
    }
  }

  img {
    width: 50%;
  }
}

.bookings {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 4rem; // Decreasing font size for smaller screens
  }
}