$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;;
$breakpoint-extra-large: 1200px;





@mixin respond-to($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}

@include respond-to($breakpoint-small) {
    width: 50%;
}
@include respond-to($breakpoint-medium) {
    width: 33.3%;
}
@include respond-to($breakpoint-large) {
    width: 25%;
}
@include respond-to($breakpoint-extra-large) {
    width: 20%;
}