@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.bookingInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    font-family: "Playfair Display";
    width: 16rem;
    padding: 0.5rem;
  }
  div {
    width: 100%;

    button {
      font-family: "Playfair Display";
      margin: 0.3rem 0;
      width: 100%;
      font-size: 1rem;
    }
  }
}
