footer {
    background-color: rgb(38, 38, 38);
    color: #d4af37;
    display: flex;
    gap: 10rem;
    justify-content: space-between;
    padding: 2rem;
    line-height: 2rem;
}

div {

}

p {
    
}

