footer {
    background-color: rgb(38, 38, 38);
    color: #d4af37;
    display: flex;
    gap: 10rem;
    justify-content: space-between;
    line-height: 2rem;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

div {

}

p {
    
}

@media only screen and (max-width: 600px) {
    footer{
    width: 100%;
    margin-top: auto;
    gap: 2rem;
    flex-direction: column;
    }
    html {
        display: block;
        
    }
  
}

@media only screen and (max-width: 992px) {
    html {
        display: flex;
    }
}